---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/modules/core/lib/utils';

type Props = HTMLAttributes<'h3'>;
const { class: className, ...rest } = Astro.props;
---
<h3 class:list={cn('sm:text-sm md:text-lg text-pretty', className)} {...rest}>
  <slot />
</h3>
