---
import Logo from '@/assets/logo.svg';
import { type VariantProps } from 'tailwind-variants';
import { logoVariants } from '@/modules/core/lib/logo';

type Props = {
  class?: string;
} & VariantProps<typeof logoVariants>;

const { class: className, size } = Astro.props;
---
<div class:list={[logoVariants({ size }), className]} transition:name="logo">
  <Logo class="h-full" />
  <span class="font-semibold">Tuitions</span>
</div>
