---
import { authService } from '@/modules/auth/core/services/auth';
import { LANDING_ROUTE } from '@/modules/landing/core/lib/routes';
import EnrollmentDashboardLayout from '@/modules/dashboard/instituciones/matriculas/core/layouts/EnrollmentDashboardLayout.astro';

const { data: user, error } = await authService.getUser(Astro.cookies);

if (error) {
  return Astro.redirect(LANDING_ROUTE.fullPath);
}
---
<EnrollmentDashboardLayout user={user}>
  <h1>Horarios</h1>
</EnrollmentDashboardLayout>
