---
import type { RootLayoutProps } from '@/modules/core/types/layouts';
import RootLayout from '@/modules/core/layouts/RootLayout.astro';

type Props = RootLayoutProps;

const { route } = Astro.props;
---
<RootLayout route={route}>
  <div class="flex flex-col min-h-screen items-center justify-center gap-y-10 md:gap-y-16 px-4 md:px-8">
    <slot />
  </div>
</RootLayout>
