---
import LogoExtended from '@/modules/core/ui/LogoExtended.astro';
import Button from '@/modules/core/ui/button.astro';
import DashboardOrSignin from '../components/DashboardOrSignin.astro';
---
<nav class="flex justify-between px-4 py-2">
  <LogoExtended />
  <div class="flex gap-2">
    <Button variant="ghost">
      Beneficios
    </Button>
    <Button variant="ghost">
      Precios
    </Button>
    <DashboardOrSignin server:defer />
    <Button variant="outline">
      Contactar a ventas
    </Button>
  </div>
</nav>
