---
import { authService } from '@/modules/auth/core/services/auth';
import Button from '@/modules/core/ui/button.astro';
import EnrollmentDashboardLayout from '@/modules/dashboard/instituciones/matriculas/core/layouts/EnrollmentDashboardLayout.astro';
import { LANDING_ROUTE } from '@/modules/landing/core/lib/routes';

const { data: user, error } = await authService.getUser(Astro.cookies);

if (error) {
  return Astro.redirect(LANDING_ROUTE.fullPath);
}
---
<EnrollmentDashboardLayout user={user}>
  <h1>Cursos</h1>
</EnrollmentDashboardLayout>
