---
import { authService } from '@/modules/auth/core/services/auth';
import { LANDING_ROUTE } from '@/modules/landing/core/lib/routes';
import AdminEnrollmentLayout from '@/modules/dashboard/instituciones/matriculas/core/layouts/AdminEnrollmentLayout.astro';
import { processService } from '@/modules/dashboard/instituciones/matriculas/core/services/process.server';
import { capitalize } from '@/modules/core/lib/utils';
import CoursesList from '@/modules/dashboard/instituciones/matriculas/core/components/CoursesList';

// Esta es una vista que depende del rol de usuario, la autenticación se debe realizar devolviendo el rol del usuario en la institución y asi determinar si es un administrador o un estudiante.
const { data: user, error } = await authService.getUser(Astro.cookies);
if (!user || error) {
  return Astro.redirect(LANDING_ROUTE.fullPath);
}

const { matricula_id } = Astro.params;
if (!matricula_id) {
  return Astro.redirect(LANDING_ROUTE.fullPath);
}

const {data: process, error: processError} = await processService.getProcessById(matricula_id, Astro.cookies);
if (processError || !process) {
  return Astro.redirect(LANDING_ROUTE.fullPath);
}


---
<AdminEnrollmentLayout user={user} process={process}>
  <h1 class="text-3xl font-semibold mb-4">
    Matrículas {capitalize(process.name) || 'desconocida'}
  </h1>
  <CoursesList client:load courses={process.courses}/>
</AdminEnrollmentLayout>
