---
import type { AuthRequired, User } from '@/modules/auth/core/types/user';
import RootLayout from '@/modules/core/layouts/RootLayout.astro';
import { getRouteFromPath } from '@/modules/core/lib/routes';
import type { EnrollmentProcess } from '../types/process';
import EnrollmentDashboardSideBar from '@/modules/dashboard/instituciones/matriculas/core/layouts/EnrollmentDashboardSidebar.astro';

// Por ahora solo se requerira un usuario autenticado, ya que el usuario en la base de datos no tiene un rol como campo
// Puede comportarse como un administrador o un usuario normal, dependiendo de la institucion a la que pertenezca
type Props = AuthRequired<User> & {
  process: EnrollmentProcess;
};

const { user, process } = Astro.props;

const route = getRouteFromPath(Astro.url.pathname);

---
<RootLayout route={route} class="flex flex-row h-screen px-2 py-1">
  <EnrollmentDashboardSideBar user={user} currentRoute={route} process={process}/>
  <main class="flex flex-col flex-1 overflow-y-auto px-4 py-2 border-2 border-l-0 rounded-r-xl">
    <slot />
  </main>
</RootLayout>
