---
import LogoExtended from '@/modules/core/ui/LogoExtended.astro';
import { LANDING_ROUTE } from '@/modules/landing/core/lib/routes';
---
<a href={LANDING_ROUTE.fullPath} class="mt-15">
  <LogoExtended size="xl"/>
</a>
